*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
}

.card {
  padding: 10px;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  width: 220px;
  position: relative;
  top: 0px;
  left: 0px;
  
  
}

.card__image {
  width: 100%;
}

.card__image--absolute{
  widht: 16px;
  height: 16px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.media {
  width: 210px;
  
}

.media__image {
  width: 100%; 
  
}
.media__header{
  position: relative;
  top: 0px;
  left: 0px;
}

.media__title,
.media__stats {
  margin: 0;
}

.media__title {
  font-size: 14px;
}

.media__stats,
.media__account {
  font-size: 13px;
  font-style: normal;
  color: rgba(17, 17, 17, 0.6);
}
.media__timing{
  font-size: 12px;
  background-color: rgb(17, 17, 17);
  color: white;
  padding: 3px;
  position: absolute;
  bottom: 4px;
  right: 0px;
  
}
